@charset "UTF-8";
/* CSS Document */


/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
	1.1 - Headings
	1.2 - Body Copy
	1.3 - Buttons
	1.4 - Forms
	1.5 - Lists
	1.6 - Tables
2.0 - Navigation Menus
	2.1 - Main
	2.2 - Sub
	2.3 - Footer
3.0 - Content
	3.1 - Site Structure
	3.2	- Site Header
	3.3	- Site Footer
5.0 - Utility
	5.1 - Text Sizes
	5.2 - Colors
	5.3 - Alignments
--------------------------------------------------------------*/
* {
	font-family: 'Montserrat', sans-serif;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/*----- 1.0 - Typography -----*/
span {
	display: none;
}

h2, form a {
	font-weight: 600;
}

h1 {
	font-size: 50px;
}

#works a {
	text-decoration: none;
}

form a, label, form p, nav a {
	text-transform: uppercase;
}

/*----- 1.4 - Forms -----*/
form a {
	text-decoration: none;
	padding: 15px 25px;
}

label, form p {
	display: block;
	margin-bottom: 30px;
}

form div {
	margin: 0 auto;
	width: 570px;
}

textarea {
	margin-bottom: 30px;
	height: 200px;
}

input {
	height: 75px;
}

textarea, input {
	width: 570px;
	border: none;
}

input {
	margin-bottom: 130px;
}

/*----- 1.5 - Lists -----*/
ul {
	padding-left: 0;
}

li {
	list-style: none;
}

/*----- 2.0 - Navigation Menus -----*/

	/*----- 2.1 - Main -----*/
nav a {
	text-decoration: none;
	margin: 0 auto;
	color: #3d3935;
}

nav li {
	list-style: none;
}

nav li:nth-child(2), nav li:nth-child(3), nav li:last-child {
	margin-left: 25px;
}

nav {
	margin: 50px auto;
	text-align: center;
}

	/*----- 2.2 - Sub -----*/

	/*----- 2.3 - Footer -----*/
footer ul a {
	width: 54px;
	height: 54px;
	margin: 50px auto;
}

footer li:first-child a {
	background: url("../img/facebook.png") no-repeat 0 0;
}

footer li:nth-child(2) a {
	background: url("../img/instagram.png") no-repeat 0 0;
	margin-left: 25px;
}

footer li:last-child a {
	background: url("../img/twitter.png") no-repeat 0 0;
	margin-left: 25px;
}

footer li a:hover {
	background-position: 0 -54px;
}

/*----- 3.0 - Content -----*/

	/*----- 3.1 - Site Structure -----*/
#about-me div {
	width: 325px;
	margin: 25px;
}

#about-me div:last-child {
	float: right;
}

#about-me div:first-child, #about-me div:last-child {
	margin-right: 125px;
}

img[src*="img/background-img.png"], img[src*="img/works-photo.jpg"] {
	margin: 200px auto;
}

img[src*="img/about.jpg"]  {
	margin: 200px auto 100px;
}

img[src*="img/background-img.png"], img[src*="img/works-photo.jpg"], img[src*="img/about.jpg"] {
	display: block;
}

.wrapper {
	margin: 0 auto;
	width: 1170px;
}

.row {
	overflow: auto;
}

.col, #about-me div:first-child {
	float: left;
}

	/*-----3.2	- Site Header -----*/
#works header {
	text-align: left;
	position: absolute;
	top: 50px;
	left: -50px;
}

h1 {
	margin: 125px auto;
}

	/*-----3.3	- Site Footer -----*/
footer {
	margin-top: 250px;
}

footer ul {
	margin: 0;
}

/*----- 5.0 - Utility -----*/

	/*----- 5.1 - Text Sizes -----*/
label, form p, #about-me p, #works-gum div p {
	font-size: 20px;
}

	/*-----5.2 - Colors -----*/
body{
	background-color: #d4d4d4;
}

footer, textarea, input, form a {
	background-color: #eda998;
}

form a:hover {
	background-color: #000;
}

nav a:hover, #works a:hover, form a:hover {
	color: #eda998;
}

#works a, form a {
	color: #000;
}

	/*-----5.3 - Alignments -----*/
h1, footer ul {
	text-align: center;
}

ul a, li, nav li, #about-me div {
	display: inline-block;
}

#works-gum div p {
	width: 325px;
}

#works-gum img {
	margin-bottom: 170px;
}

#works-gum div:last-child {
	margin-left: 83px;
}

#about-me p, #works-gum div p {
	line-height: 35px;
}

#about-me p:first-child {
	margin-left: 100px
}

#works .col {
	width: 292px; /* full width for 4 equal columns */
	text-align: right;  /* aligns the image to the right */
	position: relative; /* relative positioning allows the header to be positioned in relation to this element */ 
	top: 0;
	left: 0;
}

#works header  {
	-ms-transform: rotate(-90deg); /* IE 9 */
	-webkit-transform: rotate(-90deg); /* Safari and Chrome */
	-moz-transform: rotate(-90deg); /* Firefox */
	-o-transform: rotate(-90deg); /* Opera */
	transform: rotate(-90deg);  /* transformed text to run bottom to top */ 
	position: absolute; /* abosulte positioning so that the end of the text can be aligned to the top of the image */
}

#works .col:first-child header { /* because the text is running bottom to top instead of top to bottom, you'll have to create unique vertical and horizontal positions for each header to align to its respective image */
	top: 53px;
    left: -23px;
}

#works .col:nth-child(2) header {
	top: 60px;
    left: -25px;
}

#works .col:nth-child(3) header {
	top: 29px;
    left: 6px;
}

#works .col:last-child header {
	top: 50px;
    left: -20px;
}